h1{
color: #F59067;
}

td:last-child{
    border: none;
}

td{
    border:solid 1px black;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

th{
    font-size: 20px;
    padding: 5px;
}

table{
    border-spacing: 0px;
}

